<div class="row">

  <div class="card bg-dark text-white">

    <img class="card-img" src="http://www.viral.su/wp-content/uploads/2017/10/1507123099_maxresdefault-950x534.jpg">

    <div class="card-img-overlay align-self-center">

      <h4 class="card-title">Играть онлайн</h4>

    </div>

  </div>

</div>

<div class="row">

  <%= link_to 'Узнать еще раз', lr8_logic_input_path, class: 'btn btn-link btn-large' %>

</div>