// Place all the styles related to the Lr8Logic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
@import "bootstrap-material-design";

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#main-container {
  height: 100%;
  width: 100%;

  margin-top: 20px;
}
